<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div>
  <%= link_to "Editar produto", edit_produto_path(@produto) %> |
  <%= link_to "Voltar", produtos_path %>

  <%= button_to "Deletar produto", @produto, method: :delete %>
</div>
