<div id="<%= dom_id empresa %>">
  <p>
    <strong>Id empresa:</strong>
    <%= empresa.id_empresa %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= empresa.endereco %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= empresa.cnpj %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= empresa.telefone %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= empresa.nome %>
  </p>

</div>
